.solar-system-explorer {
  --duration: .8s;
  --half-duraiton: calc( var(--duration) / 2 );
  --ease: cubic-bezier(.7, 0, .3, 1);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

.solar-system-explorer * {
  box-sizing: border-box;
  position: relative;
}

.solar-system-explorer img {
  max-width: 100%;
}

.solar-system-explorer #app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.solar-system-explorer .planet {
  grid-column: 1;
  grid-row: 1/-1;
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 10% 1fr 1fr;
  grid-template-areas: "header header header header" "x title details y" "x planet photos photos";
  visibility: hidden;
  transition: visibility 0.01s linear var(--duration);
}

.solar-system-explorer .planet[data-active="true"] {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.solar-system-explorer .planet > .planet-title {
  display: block;
  grid-area: title;
}

.solar-system-explorer .planet > .planet-figure {
  grid-column: 1/-1;
  grid-row: planet;
  padding: 0;
  margin: 0 auto;
  position: relative;
  opacity: 0;
  transition: opacity var(--duration) var(--ease);
}

.solar-system-explorer .planet[data-active="true"] .planet-figure {
  opacity: 1;
}

.solar-system-explorer .planet > .planet-figure img {
  margin-bottom: -50%;
}

.solar-system-explorer .planet > .planet-figure::after {
  content: "";
  position: absolute;
  bottom: 0%;
  top: 0%;
  width: 100%;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0%, transparent 30%);
  z-index: 2;
}

.solar-system-explorer .planet > .planet-details {
  grid-area: details;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  visibility: hidden;
}

.solar-system-explorer .planet[data-active="true"] .planet-details {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition-delay: 0s;
}

.solar-system-explorer .detail {
  font-size: 5vmin;
  width: 3em;
  font-weight: 400;
  display: flex;
  margin-left: 0.4em;
  flex-shrink: 0;
  align-self: start;
}

.solar-system-explorer .detail:after {
  content: attr(data-postfix);
}

.solar-system-explorer .detail:before {
  display: block;
  position: absolute;
  top: 100%;
  margin-top: 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  opacity: 0.6;
  letter-spacing: 1px;
}

.solar-system-explorer .detail[data-detail=hours]:before {
  content: "Hours";
}
.solar-system-explorer .detail[data-detail=gravity]:before {
  content: "gravity";
}
.solar-system-explorer .detail[data-detail=tilt]:before {
  content: "tilt";
}

.solar-system-explorer h1, .solar-system-explorer h2 {
  margin: 0;
  font-size: 8vmin;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.solar-system-explorer .planet .planet-title .word {
  overflow: hidden;
  display: inline-block;
}

.solar-system-explorer .planet .planet-title .char {
  display: inline-block;
  transform: translateY(100%);
  transition: transform var(--duration) var(--ease);
  transition-delay: calc( var(--char-index) * .05s );
}

.solar-system-explorer .planet[data-active="true"] .planet-title .char {
  transform: translateY(0%);
  transition-delay: calc( (var(--duration)/2) + (var(--char-index) * .05s) );
}

.solar-system-explorer .planet .planet-description {
  visibility: hidden;
  opacity: 0;
  transform: translateY(1em);
  transition: transform var(--duration) var(--ease), opacity var(--duration) linear, visibility 0.01s linear var(--duration);
}

.solar-system-explorer .planet[data-active="true"] .planet-description {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition-delay: var(--duration), var(--duration), 0s;
}

.solar-system-explorer .planet-nav {
  grid-column: 1;
  grid-row: 2;
  pointer-events: none;
  z-index: 10;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.solar-system-explorer .planet-nav svg {
  display: block;
  width: auto;
  height: auto;
  min-width: 100%;
  max-width: none;
  min-height: 100vh;
  margin-bottom: -50%;
  transform-origin: center center;
  --length: 7;
  --range: 160deg;
  transform: rotate(calc( (var(--active,0) / var(--length)) * (-1 * var(--range)) + (var(--range) / 2) ));
  transition: transform var(--duration) var(--ease);
}

@media (max-width: 600px) {
  .solar-system-explorer .planet-nav svg {
    margin-bottom: -55%;
  }
}

.solar-system-explorer .planet-nav tspan {
  cursor: pointer;
  fill: #FFF;
  pointer-events: auto;
  opacity: 0;
  transition: opacity var(--duration) linear;
}

.solar-system-explorer .planet-nav tspan[x] {
  opacity: 0.6;
}

.solar-system-explorer .planet-nav tspan:hover, .solar-system-explorer .planet-nav tspan:focus {
  opacity: 1;
}